<template>
  <div class="position-relative" style="height: 20px">
    <button class="sidebar-close text-white" @click="$emit('click')">
      <b-icon-chevron-right />
    </button>
  </div>
</template>