<template>
  <textarea
    ref="textArea"
    :value="value"
    rows="1"
    :placeholder="placeholder"
    class="auto-resize-textarea"
    @input="onInput"
    @keypress.enter.prevent="onEnterPress"
  ></textarea>
</template>
<script>
export default {
  name: "AutoResizeTextArea",
  props: {
    value: {
      type: String,
      required: true
    },
    placeholder: String
  },
  watch: {
    value(newVal) {
      this.$refs.textArea.style.height = "auto";
      this.$refs.textArea.style.height = `${this.$refs.textArea.scrollHeight}px`;
      if (newVal === "") {
        this.$refs.textArea.style.height = "33px";
      }
    }
  },
  mounted() {
    this.textArea = this.$refs.textArea;
  },
  methods: {
    onInput(event) {
      this.$emit("input", event.target.value);
    },
    onEnterPress(event) {
      if (!event.ctrlKey) {
        this.$emit("enter-press");
      } else {
        this.$emit("input", `${event.target.value}\n`);
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.auto-resize-textarea {
  width: 100%;
  min-height: 33px;
  max-height: 70px;
  background-color: transparent;
  border: none;
  overflow-y: auto;
  outline: none;
  direction: rtl;
  resize: none;
  padding: 6px 12px;
  font-size: 0.8rem;
}
</style>
