<template>
  <div class="d-flex">
    <div class="m-auto">
      <div class="card">
        <div class="card-header">
          <b-nav pills fill justified>
            <b-nav-item :active="active === 'register'" @click="active = 'register'">ثبت نام</b-nav-item>
            <b-nav-item :active="active === 'login'" @click="active = 'login'">ورود</b-nav-item>
          </b-nav>
        </div>

        <div class="card-body">
          <form v-if="active == 'register'" @submit.prevent="register">
            <div class="form-group">
              <label for="">نام و نام خانوادگی</label>
              <input v-model="form.name" type="text" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="">ایمیل</label>
              <input v-model="form.email" type="text" class="form-control" required />
            </div>

            <div class="form-group">
              <label for="">رمز عبور</label>
              <input v-model="form.password" type="password" class="form-control" required />
            </div>

            <div class="alert alert-danger" v-if="error">
              اطلاعات وارد شده صحیح نمی‌باشد
            </div>

            <button type="submit" class="btn btn-success" :disabled="busy">
              <b-icon-circle-fill v-show="busy" animation="throb" />
              ثبت نام و ورود
            </button>
          </form>

          <form v-if="active == 'login'" @submit.prevent="login">
            <div class="form-group">
              <label for="">ایمیل</label>
              <input v-model="form.email" type="text" class="form-control" />
            </div>

            <div class="form-group">
              <label for="">رمز عبور</label>
              <input v-model="form.password" type="password" class="form-control" />
            </div>

            <div v-if="error" class="alert alert-danger">
              نام کاربری یا رمز عبور صحیح نمی‌باشد
            </div>

            <button type="submit" class="btn btn-success" :disabled="busy">
              <b-icon-circle-fill v-show="busy" animation="throb" />
              ورود
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  auth: false,

  data() {
    return {
      active: 'register',
      busy: false,
      error: false,
      form: {
        name: '',
        email: '',
        password: '',
        profession: ''
      }
    }
  },

  watch: {
    active(newval) {
      this.error = false
    }
  },

  methods: {
    async register() {
      this.error = false;
      this.busy = true;

      await this.$axios.post('/signup', {
        ...this.form
      }).then(async response => {
          await this.login()
      }).catch(e => {
        this.error = true;
      })
      .finally(() => {
        this.busy = false
      })
    },

    async login() {
      this.busy = true;

      await this.$auth.loginWith("local", {
        data: {
          email: this.form.email,
          password: this.form.password,
          type: 'guest'
        }
      }).then(async response => {
        await this.$ws.withJwtToken(response.data.token)
        await this.$ws.connect()
        
        document.location.href = "/"
      }).catch(() => {
        this.error = true;
      }).finally(() => {
        this.busy = false;
      })
    }
  }
};
</script>
