<template>
  <div class="d-flex flex-row flex-nowrap flex-fill">
    <side-bar-items :items="items" @item-click="onSideBarItemClick" />

    <transition :after-leave="onAnimationEnd()" name="slide">
      <side-bar-container
        v-if="open"
        :title="sideBarTitle"
        class="slide-right"
        @close-click="onCloseClick"
      >
        <transition-group tag="div" name="fade">
          <app-chat v-show="selectedComponent === 'app-chat'" key="app-chat" />
          <app-people
            v-show="selectedComponent === 'app-people'"
            key="app-people"
          />
          <app-q-a
            v-if="hasFaq"
            v-show="selectedComponent === 'app-q-a'"
            key="app-q-a"
          />
        </transition-group>
      </side-bar-container>
    </transition>
  </div>
</template>
<script>
import { mapState } from "vuex";
import People from "@/components/People";
import AppChat from '@/components/Chat';
import QA from "@/components/QA";
import SideBarContainer from "./Container";
import SideBarItems from "./Items";

const ANIMATION_DURATION = 300;

export default {
  name: "SideBar",

  components: {
    AppPeople: People,
    AppQA: QA,
    SideBarContainer,
    SideBarItems,
    AppChat
  },

  props: {
    items: { type: Array, required: true }
  },

  data() {
    return {
      selectedComponent: "app-chat",
      open: true,
      attenders: []
    };
  },

  computed: {
    ...mapState({
      session: state => state.session,
      onlineUsers: state => state.onlineUsers
    }),

    isExecutor() {
      return this.$auth.loggedIn &&
        this.session &&
        (process.env.rootUsers.includes(this.$auth.user._id))
        ? true
        : false;
    },

    sideBarTitle() {
      switch (this.selectedComponent) {
        case "app-chat":
          return "گفتگو";
        case "app-people":
          return `${this.onlineUsers.length} نفر`;
        case "app-q-a":
          return "پرسش و پاسخ";
        default:
          return "";
      }
    },

    sessionId() {
      if (this.session) return this.session.id;

      return null;
    },

    hasFaq() {
      if (this.session && this.session.has_faq) return true;
      return false;
    },

    isQaVisible() {
      if (this.isExecutor) return true;
      return this.session.has_faq;
    }
  },

  watch: {
    session(newSession) {
      if (
        newSession &&
        !newSession.has_faq &&
        this.selectedComponent === "app-q-a"
      ) {
        this.selectedComponent = "app-chat";
      }
    }
  },

  methods: {
    onSideBarItemClick(item) {
      this.selectedComponent = item.component;
      this.open = true;
    },

    onCloseClick() {
      this.open = false;
    },

    onAnimationEnd() {
      if (this.open) {
        this.$emit("open");
      } else {
        // waits for animation to finish and then emits `close` event to
        // perevent bootstrap column change happens before close animation
        setTimeout(() => {
          this.$emit("close");
        }, ANIMATION_DURATION + 10);
      }
    }
  }
};
</script>
<style lang="scss" scoped>
$SLIDE_ANIMATION_DURATION: 300ms;
$FADE_ANIMATION_DURATION: 150ms;

.slide-right {
  transform-origin: right;
}

.slide-enter-active {
  transition: all $SLIDE_ANIMATION_DURATION ease-in-out;
}

.slide-leave-active {
  transition: all $SLIDE_ANIMATION_DURATION ease-in-out;
}

.slide-enter,
.slide-leave-to {
  transform: scaleX(0);
}

.fade-enter-active {
  transition: all $FADE_ANIMATION_DURATION ease-in-out;
  transition-delay: $SLIDE_ANIMATION_DURATION;
}

.fade-leave-active {
  transition-delay: $FADE_ANIMATION_DURATION;
  transition: all $FADE_ANIMATION_DURATION ease-in-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
