<template>
  <div class="qa-wrapper">
    <draggable
      v-if="isExecutor"
      v-model="questions"
      v-bind="dragOptions"
      @start="onListDragged"
      @end="drag = false"
    >
      <transition-group type="transition" :name="!drag ? 'flip-list' : null">
        <app-question
          v-for="question in questions"
          :key="question.id"
          :content="question.content"
          :is-answered="question.is_answered"
          :is-selected="question.is_archived"
          @question-edit="content => onQuestionEdit(content, question.id)"
          @question-archive="onQuestionStateChange(question.id, ARCHIVE_STATE)"
          @question-select="onQuestionStateChange(question.id, SELECT_STATE)"
          @question-deselect="
            onQuestionStateChange(question.id, DESELECT_STATE)
          "
          @question-answer="onQuestionStateChange(question.id, ANSWERED_STATE)"
          @question-unanswer="
            onQuestionStateChange(question.id, UNANSWERED_STATE)
          "
        />
      </transition-group>
    </draggable>
    <template v-else>
      <app-question
        v-for="question in userQuestions"
        :key="question.id"
        :content="question.content"
        :is-answered="question.is_answered"
        :is-selected="question.is_archived"
      />
    </template>
  </div>
</template>
<script>
import { mapState } from "vuex";
import draggable from "vuedraggable";
import Question from "./Question";

import {
  SELECT_STATE,
  DESELECT_STATE,
  ANSWERED_STATE,
  UNANSWERED_STATE,
  ARCHIVE_STATE
} from "./helpers";

export default {
  name: "QA",
  components: {
    AppQuestion: Question,
    draggable
  },

  data() {
    return {
      SELECT_STATE,
      DESELECT_STATE,
      ANSWERED_STATE,
      UNANSWERED_STATE,
      ARCHIVE_STATE,
      drag: false,
      touched: false,
      questions: this.$store.state.questions.questions
    };
  },

  computed: {
    ...mapState({
      session: state => state.session,
      userQuestions: state =>
        state.questions.questions.filter(item => item.is_archived)
    }),

    isExecutor() {
      return this.$auth.loggedIn &&
        this.session &&
        process.env.rootUsers.includes(this.$auth.user._id)
        ? true
        : false;
    },

    sessionId() {
      if (this.session) return this.session.id;

      return null;
    },

    dragOptions() {
      return {
        animation: 200,
        disabled: !this.isExecutor,
        ghostClass: "ghost"
      };
    },

    QaChannel() {
      return this.$ws && this.$ws.getChannel("question");
    }
  },

  watch: {
    "$store.state.questions.questions"() {
      this.questions = this.$store.state.questions.questions;
    },
    questions() {
      if (this.touched) {
        const questions = this.questions.map((item, idx) => ({
          ...item,
          sort: idx
        }));
        this.QaChannel.emit("sort", { questions, sessionId: this.session.id });
        this.touched = false;
      }
    }
  },

  mounted() {
    this.initiateQaChannel();
  },

  methods: {
    initiateQaChannel() {
      this.QaChannel.on("update", ({ data }) => {
        this.$store.commit("questions/editQuestion", data);
      });

      this.QaChannel.on("destroy", ({ data }) => {
        this.$store.commit("questions/removeQuestion", data);
      });
    },
    onQuestionEdit(content, id) {
      this.QaChannel.emit("update", { content, id });
    },
    onQuestionStateChange(id, newState) {
      this.QaChannel.emit(newState, { id });
    },
    onListDragged() {
      this.drag = true;
      this.touched = true;
    }
  }
};
</script>
<style lang="scss" scoped>
.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.ghost {
  opacity: 0.5;
}
</style>
