<template>
  <b-button
    v-bind="$attrs"
    :variant="variant"
    class="emoji-btn"
    @click="onClick"
  >
    <span :style="emojiStyle">{{ emoji }}</span>
  </b-button>
</template>
<script>
import { BButton } from "bootstrap-vue";
export default {
  name: "EmojiButton",
  components: {
    BButton
  },
  props: {
    variant: {
      type: String,
      default: "link"
    },
    emoji: {
      type: String,
      required: true
    },
    emojiSize: {
      type: Number,
      default: 24
    }
  },
  computed: {
    emojiStyle() {
      return {
        fontSize: `${this.emojiSize}px`
      };
    }
  },
  methods: {
    onClick() {
      this.$emit("click", this.emoji);
    }
  }
};
</script>
<style lang="scss" scoped>
.emoji-btn {
  border-radius: 50rem;
  padding: 2% 4px 0 4px;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
</style>
