<template>
  <div
    class="wrapper bg-white d-flex justify-content-center position-relative"
    dir="rtl"
  >
    <div
      class="icon-wrapper position-absolute bg-primary d-flex justify-content-center align-items-center"
    >
      <b-icon variant="white" class="icon" :icon="icon"></b-icon>
    </div>
    <slot />
  </div>
</template>
<script>
export default {
  name: "EmptyState",
  props: {
    icon: {
      type: String,
      default: "bell"
    }
  }
};
</script>
<style lang="scss" scoped>
.wrapper {
  padding: 42px 14px;
  border-radius: 25px;
  direction: rtl;
  text-align: right;

  .icon-wrapper {
    border-radius: 50rem;
    width: 48px;
    height: 48px;
    top: -48px;
    left: 50%;
    transform: translate(-50%, 50%);

    .icon {
      font-size: 24px;
    }
  }
}
</style>
