<template>
  <div class="bg-light py-4 px-3 rounded">
    <div class="mb-3">
      <app-text tag="h2">تعریف نشست</app-text>
    </div>

    <div class="content">
      <div class="row justify-content-center">
        <app-column xs="8" class="mb-4">
          <app-stepper :active-step="step.active" :steps="step.options" />
        </app-column>
      </div>
    </div>

    <div v-if="step.active == 1" class="content">
      <div class="row justify-content-center">
        <div class="form-group col-8">
          <label for="">عنوان برنامه</label>
          <input
            v-model.trim="session.title"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-8">
          <div class="form-group">
            <label for="">سخنران</label>
            <input v-model="session.speaker" class="form-control" />
          </div>
        </div>

        <div class="col-8 d-flex justify-content-start align-items-center mt-4">
          <span class="ml-3">آیا پرسش و پاسخ دارد؟</span>
          <b-form-checkbox
            v-model="session.has_faq"
            switch
            size="lg"
          ></b-form-checkbox>
        </div>
      </div>
    </div>

    <div v-if="step.active == 2" class="content">
      <div class="row justify-content-center">
        <div class="col-8 my-5">
          <div class="form-group">
            <label for="">نوع نشست</label>
            <b-form-radio-group
              v-model="session.type"
              class="d-flex justify-content-between"
              name="radio-sub-component"
            >
              <b-form-radio value="LIVE">پخش زنده</b-form-radio>
              <b-form-radio value="VIDEO">ویدیو ضبط شده</b-form-radio>
              <b-form-radio value="AUDIO">صدای ضبط شده</b-form-radio>
            </b-form-radio-group>
          </div>
        </div>
        <template v-if="session.type == 'VIDEO'">
          <div class="col-8">
            <label for="">فایل تصویری</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" />
              <div id="button-addon3" class="input-group-prepend mt-2">
                <b-button size="sm" variant="primary" pill>
                  <b-icon-cloud-upload />
                </b-button>

                <b-button size="sm" variant="primary" pill>
                  <b-icon-link45deg />
                </b-button>

                <input id="upload-file" type="file" class="d-none" />
              </div>
            </div>
          </div>
          <div class="form-group col-8">
            <label for="">آدرس فایل تصویری</label>
            <input v-model="session.media" type="text" class="form-control" />
          </div>
        </template>

        <template v-if="session.type === 'AUDIO'">
          <div v-if="session.type == 'AUDIO'" class="col-8">
            <label for="">فایل صوتی</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control rounded-pill" />
              <div id="button-addon3" class="input-group-prepend mt-2">
                <b-button size="sm" variant="primary" pill>
                  <b-icon-cloud-upload />
                </b-button>

                <b-button size="sm" variant="primary" pill>
                  <b-icon-link45deg />
                </b-button>

                <input id="upload-audio" type="file" class="d-none" />
              </div>
            </div>
          </div>
          <div class="form-group col-8">
            <label for="">آدرس فایل صوتی</label>
            <input v-model="session.media" type="text" class="form-control" />
          </div>
        </template>
      </div>
    </div>

    <div v-if="step.active === 3" class="content">
      <div class="row justify-content-center">
        <div class="col-8">
          <app-text tag="h2" variant="primary">
            نشست با مشخصات زیر با موفقیت ثبت گردید
          </app-text>

          <div class="list-group">
            <div class="py-2">
              نوع نشست: <b>{{ typeText }}</b>
            </div>

            <div class="py-2">
              نام سخنران: <b>{{ session.speaker }}</b>
            </div>

            <div class="py-2">
              موضوع سخنرانی: <b>{{ session.title }}</b>
            </div>

            <div class="py-2">
              پرسش و پاسخ دارد: <b>{{ session.hasFaq ? "دارد" : "ندارد" }}</b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content mt-5">
      <div class="row justify-content-center">
        <app-column xs="4">
          <b-button
            v-if="isPrevButtonVisible"
            variant="outline-primary"
            class="bg-white"
            @click="onPrevClick"
          >
            <span class="px-5 text-primary">بازگشت</span>
          </b-button>
        </app-column>
        <app-column xs="4" class="d-flex flex-row justify-content-end">
          <b-button
            v-if="isNextButtonVisible"
            variant="primary"
            @click="onNextClick"
          >
            <b-spinner v-if="loading" variant="light" type="grow" />
            <span v-else class="px-5">بعدی</span>
          </b-button>
        </app-column>
      </div>
    </div>
  </div>
</template>

<script>
import Stepper from "@/components/Stepper";

export default {
  components: {
    AppStepper: Stepper
  },

  layout: "admin",

  middleware: ['admin'],

  async asyncData({ $axios }) {
    const response = await $axios.get("/users");

    return {
      users: response.data.data
    };
  },

  data() {
    return {
      session: {
        title: "",
        speaker: '',
        has_faq: false,
        type: "LIVE",
        media: ""
      },
      step: {
        options: [
          {
            title: "اطلاعات نشست"
          },
          {
            title: "اطلاعات فایل چند‌رسانه‌ای"
          },
          {
            title: "مرحله نهایی"
          }
        ],
        active: 1
      },
      loading: false
    };
  },

  computed: {
    typeText() {
      switch (this.session.type) {
        case "LIVE":
          return "پخش زنده";
        case "VIDEO":
          return "ویدیو ضبط شده";
        case "AUDIO":
          return "صدا ضبط شده";
        default:
          return "";
      }
    },

    isDataValid() {
      if (!this.subject || !this.speaker || !this.executor) return false;
      return true;
    },

    isPrevButtonVisible() {
      // Prev button should not be visible on first step and when last step (After creation has happened)
      return (
        this.step.active > 1 && this.step.active !== this.step.options.length
      );
    },

    isNextButtonVisible() {
      return this.step.active < this.step.options.length;
    }
  },

  methods: {
    onPrevClick() {
      this.step.active = this.step.active - 1;
    },

    onNextClick() {
      switch (this.step.active) {
        case 1:
          if (
            !this.session.title.length
          )
            return this.showError(
              "وارد کردن عنوان نشست الزامی می‌باشد!"
            );
          break;
        case 2:
          if (
            (this.session.type === "VIDEO" || this.session.type === "AUDIO") &&
            !this.session.media
          )
            return this.showError(
              "انتخاب کردن نوع و فایل چندرسانه‌ای الزامی می‌باشد!"
            );
          this.store()
          break;
      }

      this.step.active = this.step.active + 1;
    },

    async store() {
      const payload = {
        title: this.session.title,
        speaker: this.session.speaker,
        has_faq: this.session.has_faq,
        type: this.session.type,
        media: this.session.media
      };

      this.loading = true;
      await this.$axios.post("/sessions", payload).then(response => {
        this.loading = false;
        this.step.active = 4;
      });

      this.$router.push({ name: 'sessions' })
    },

    showError(message) {
      this.$bvToast.toast(message, {
        title: "خطا",
        variant: "danger",
        toaster: "b-toaster-bottom-left",
        solid: true,
        autoHideDelay: 3000,
        appendToast: true,
        noCloseButton: true
      });
    }
  }
};
</script>
