<template>
  <div class="bg-light py-4 px-3 rounded">
    <div class="d-flex justify-content-between mb-2">
      <app-text tag="h3">لیست نشست‌ها</app-text>

      <b-button
        :to="{ name: 'sessions-create' }"
        variant="primary"
        class="px-4">
        ایجاد نشست
      </b-button>
    </div>

    <div class="list-items">
      <div class="bg-white p-3 shadow-sm rounded mb-3">
        <div class="row header">
          <div class="col-1">ردیف</div>
          <div class="col-2">عنوان</div>
          <div class="col-2 text-center">پرسش و پاسخ</div>
          <div class="col-3">وضعیت نشست</div>
          <div class="col-2"></div>
        </div>
      </div>

      <div
        v-for="(item, index) in sessions"
        :key="index"
        class="rounded shadow-sm bg-white p-3 mb-2"
      >
        <div class="row">
          <div class="col-1">
            <span class="counter">{{ ++index }}</span>
          </div>

          <div class="col-2">
            {{ item.title }}
            <p class="text-muted">سخنران: {{ item.speaker ? item.speaker: 'ندارد' }}</p>
          </div>

          <div class="col-2 text-center">
            <b-icon-check
              v-if="item.has_faq"
              font-scale="1.75"
              variant="primary"
            />
            <b-icon-x v-else font-scale="1.75" />
          </div>

          <div class="col-3">
            <b-button v-if="item.is_active" variant="success" pill class="px-5" @click="deactive(item.id)">درحال اجرا</b-button>
            <b-button v-else variant="primary" pill class="px-5" @click="activate(item.id)">اجرا</b-button>
          </div>

          <div class="col">
            <b-button variant="transparent" title="کپی" @click="clone(item.id)">
              <b-icon-back variant="primary" />
            </b-button>

            <b-button variant="transparent" title="آرشیو کردن" @click="archive(item.id)">
              <b-icon-clipboard-check variant="info" />
            </b-button>

            <b-button variant="transparent" title="حذف نشست" @click="destroy(item.id)">
              <b-icon-trash variant="danger" />
            </b-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { findIndex, cloneDeep } from 'lodash';

export default {
  layout: "admin",

  middleware: ['admin'],

  async asyncData({ $axios }) {
    const response = await $axios.get('/sessions');

    return {
      sessions: response.data.data
    }
  },

  computed: {
    channel() {
      return this.$ws && this.$ws.getChannel('session');
    }
  },

  mounted() {
    this.channel.on('next', (response) => {
      // @TODO
      // reset the prev session
      this.resetList(response);
    });

    this.channel.on('activation', (response) => {
      this.resetList(response.data)
    })

    this.channel.on('next', (response) => {
      this.resetList(response.data)
    })

    this.channel.on('deactive', (response) => {
      this.resetList(response.data)
    });
  },

  methods: {
    activate(id) {
      this.channel.emit('activation', { id });
    },

    archive(id) {
      const sessions = this.sessions;

      this.$bvModal.msgBoxConfirm('در صورت تایید نشست از لیست شما خارج شده و دیگر به آن دسترسی نخواهید داشت.', {
        title: 'آیا از آرشیو کردن این نشست اطمینان دارید؟',
        centered: true,
        okTitle: 'ها :-)',
        cancelTitle: 'نه عامو'
      })
        .then(value => {
          if (value === true) {
            this.$axios.patch(`/sessions/${id}/archive`)
              .then(response => {
                const i = findIndex(sessions, { id: response.data.data.id });
                sessions.splice(i, 1)

                this.sessions = sessions;
              }).catch(() => {})
          }
        }).catch(() => { })
    },

    deactive(id) {
      this.channel.emit('deactive', { id })
    },

    clone(id) {
      this.$axios.post(`/sessions/${id}/clone`)
        .then(response => {
          this.sessions.push(response.data.data);
        }).catch(() => { })
    },

    destroy(id) {
      const sessions = this.sessions;

      this.$bvModal.msgBoxConfirm('آیا از حذف این نشست اطمینان دارید؟', {
        centered: true,
        okTitle: 'ها :-)',
        cancelTitle: 'نه عامو'
      })
        .then(value => {
          if (value === true) {
            this.$axios.delete(`/sessions/${id}`)
              .then(response => {
                const i = findIndex(sessions, { id: response.data.data.id })
                sessions.splice(i, 1);

                this.sessions = sessions;
              }).catch(() => { })
          }
        }).catch(() => { })
    },

    resetList(session) {
      const index = findIndex(this.sessions, { id: session.id });
      const data = cloneDeep(this.sessions);

      if (index >= 0)
        data[index] = session;

      this.sessions = data;
    }
  }
};
</script>
