<template>
    <div>
        <b-button
                v-bind="$attrs"
        >
            <slot/>
        </b-button>
        >
    </div>
</template>

<script>
import {BButton} from "bootstrap-vue";

export default {
    components: {
        BButton
    },
};
</script>
