<template>
  <!-- Using flex-row-reverse to make browser render steps on top of eachother in the context of z-index  -->
  <div dir="rtl" class="wrapper d-flex flex-row-reverse align-items-center">
    <app-step
      v-for="(step, idx) in reversedSteps"
      :key="idx"
      :active="reverseIdx(idx) + 1 === activeStep"
      :title="step.title"
      :first="reverseIdx(idx) === 0"
    />
  </div>
</template>
<script>
import Step from "./Step";
export default {
  name: "Stepper",
  components: {
    AppStep: Step
  },
  props: {
    steps: { type: Array, required: true },
    activeStep: { type: Number, default: 0 }
  },
  computed: {
    // using reversed steps instead of steps array to handle flex-row-reverse side effect, which caused first step to render as last step
    reversedSteps() {
      const temp = [...this.steps];
      return temp.reverse();
    }
  },
  methods: {
    reverseIdx(idx) {
      return this.steps.length - idx - 1;
    }
  }
};
</script>
