<template>
  <div class="container-fluid bg-dark shadow">
    <b-navbar variant="dark" type="light">
      <!-- start logo -->
      <b-navbar-brand href="/">
        <logo logo-color="primary" type-color="white" size="8rem" />
      </b-navbar-brand>
      <!-- end logo -->

      <!-- start admin dropdown -->
      <b-dropdown
        v-if="$auth.loggedIn && isExecutor"
        variant="primary"
        text="اتمام نشست"
        no-caret
        toggle-class="px-5 mr-5"
        menu-class="text-center"
      >
        <b-dropdown-item @click="nextSession">همین حالا</b-dropdown-item>
        <!-- <b-dropdown-item>تعیین زمان مشخص</b-dropdown-item> -->
        <b-dropdown-item v-if="hasFaq" @click="setNextState">
          رفتن به پرسش و پاسخ
        </b-dropdown-item>
      </b-dropdown>
      <!-- end admin dropdown -->

      <!-- start user dropdown -->
      <b-dropdown
        v-if="$auth.loggedIn"
        variant="transparent"
        toggle-class="d-flex justify-content-center align-items-center"
        class="mr-auto"
        no-caret
      >
        <template #button-content>
          <avatar :text="$auth.user.name" size="sm" :src="userAvatar" />

          <app-text class="mx-2" tag="span" variant="white">{{
            $auth.user.name
          }}</app-text>

          <b-icon-chevron-down />
        </template>

        <b-dropdown-item
          v-if="$auth.user.id"
          link-class="d-flex align-items-center justify-content-start"
          :href="$auth.user.profile"
          target="_blank"
        >
          <b-icon-person variant="primary" class="ml-3" />
          پروفایل
        </b-dropdown-item>

        <b-dropdown-item
          v-if="$auth.user.is_admin"
          link-class="d-flex align-items-center justify-content-start"
          :to="{ name: 'sessions' }"
        >
          <b-icon-grid variant="primary" class="ml-3" />
          پنل ادمین
        </b-dropdown-item>

        <b-dropdown-item
          link-class="d-flex align-items-center justify-content-start"
          @click="logout"
        >
          <b-icon-door-open variant="primary" class="ml-3" />
          خروج
        </b-dropdown-item>
      </b-dropdown>
      <!-- end user dropdown -->
    </b-navbar>
  </div>
</template>

<script>
import Logo from "@/components/Logo";
import { mapState, mapMutations } from "vuex";

export default {
  components: {
    Logo
  },

  computed: {
    ...mapState({
      session: state => state.session
    }),

    hasFaq() {
      if (this.session && this.session.has_faq) return true;
      return false;
    },

    userAvatar() {
      return this.$auth.user?.avatar?.avatar;
    },

    channel() {
      return this.$ws && this.$ws.getChannel("session");
    },

    isExecutor() {
      return this.$auth.loggedIn &&
        this.session &&
        process.env.rootUsers.includes(this.$auth.user._id)
        ? true
        : false;
    }
  },

  methods: {
    ...mapMutations(["setShowConf"]),

    nextSession() {
      this.channel.emit("next");
    },

    setNextState() {
      this.channel.emit("state", {
        id: this.session.id,
        state: "QA"
      });
    },

    async logout() {
      await this.$auth.logout();
      this.setShowConf(false);

      this.$router.push("/");
    }
  }
};
</script>
