$thumb-background: $primary;
$slider-track-height: 7px;
$slider-track-background: $white;
$thumb-size: 12px;

.range-slider-wrapper {
  bottom: 80%;
  width: 95px;
  transform: rotateZ(90deg) translateY(-8px);
  z-index: 9;
}

.slider__track,
.slider__input {
  border-radius: 50px;
}
