
.vh-90 {
  height: 90vh !important;
}

.vh-85 {
  height: 85vh !important;
}

.vh-80 {
  height: 80vh !important;
}

.vh-70 {
  height: 70vh !important;
}

.vh-60 {
  height: 60vh !important;
}

.vh-40 {
  height: 40vh !important;
}

.vh-30 {
  height: 30vh !important;
}

.vh-20 {
  height: 20vh !important;
}

.vh-10 {
  height: 10vh !important;
}