<template>
  <div
    :class="[messageClass, 'd-flex align-items-center position-relative']"
    @mouseenter="hover = true"
    @mouseleave="hover = false"
  >
    <div>
      <app-text tag="small" class="d-block" :class="textClass">
        {{ userName }}
      </app-text>
      <slot />
    </div>
    <app-dropdown
      v-if="menuVisible"
      :dropright="!isSelf"
      :dropleft="isSelf"
      toggle-class="px-0"
      :items="menuItems"
      :class="[menuClass, 'position-absolute']"
      @menu-hidden="menuOpen = false"
      @menu-shown="menuOpen = true"
      @item-click="onMenuClick"
    >
      <b-icon
        slot="activator"
        variant="primary"
        size="20"
        icon="three-dots-vertical"
      ></b-icon>
    </app-dropdown>
  </div>
</template>
<script>

export default {
  name: "Bubble",
  props: {
    isSelf: {
      type: Boolean,
      default: false
    },
    isReply: {
      type: Boolean,
      default: false
    },
    hasReply: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      hover: false,
      menuOpen: false
    };
  },
  computed: {
    isExecutor() {
      return this.$auth.loggedIn &&
        process.env.rootUsers.includes(this.$auth.user._id)
        ? true
        : false;
    },
    menuItems() {
      const menu = [{ text: "پاسخ دادن", action: "reply" }];
      if (this.isExecutor) {
        menu.push({ text: "پین کردن", action: "pin" });
      }
      return menu;
    },
    messageClass() {
      return {
        "right-message": this.isSelf,
        "left-message": !this.isSelf,
        "message-wrapper flex-row-reverse bg-white": !this.isReply,
        "reply-wrapper flex-row bg-primary-light": this.isReply
      };
    },
    menuClass() {
      return {
        "left-menu": this.isSelf,
        "right-menu": !this.isSelf
      };
    },
    textClass() {
      return {
        "text-secondary": !this.isReply,
        "text-primary-dark": this.isReply
      };
    },
    wrapperClass() {
      if (this.isSelf) {
        return "flex-row-reverse";
      }
      return "flex-row";
    },
    menuVisible() {
      if (this.isReply) return false;
      return this.hover || this.menuOpen;
    },
    userName() {
      return this.user?.name;
    }
  },
  methods: {
    onMenuClick(item) {
      this.$emit(item.action);
    }
  }
};
</script>
<style lang="scss" scoped>
.message-wrapper,
.reply-wrapper {
  direction: rtl;
  text-align: right;
  margin: 0 7px;
  padding: 6px 15px 9px 15px;
  border-radius: 25px;
  max-width: 80%;

  &.left-message {
    border-top-left-radius: 0;
  }

  &.right-message {
    border-top-right-radius: 0;
  }

  .right-menu {
    right: -2px;
  }

  .left-menu {
    left: -2px;
  }
}

.reply-wrapper {
  max-width: unset;
  margin: 0 -9px;
  margin-bottom: 11px;
}
</style>
