<template>
  <div :class="direction">
    <div class="avatar">
      <avatar v-bind="$attrs" />
    </div>
    <div class="Rectangle">
      <slot name="userName">
        <h1 class="username">
          {{ userName }}
        </h1>
      </slot>
      <slot name="messageText"
        ><p class="text">
          {{ messageText }}
        </p>
      </slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    direction: {
      type: String,
      default: "left",
      required: false,
    },
    messageText: {
      type: [String, null],
      default: null,
      required: false,
    },
    userName: {
      type: [String, null],
      default: null,
      required: false,
    },
  },
};
</script>

<style lang="scss">
.right {
  display: flex;
  flex-flow: row-reverse nowrap;
  background-color: #f2f2f2;

  .Rectangle {
    margin: 12px 3.5px 6px 0;
    padding: 0 7px 3px 7.5px;
    background-color: #ffffff;
    border-radius: 20px 0 20px 20px;
  }
}
.left {
  display: flex;
  flex-flow: row nowrap;
  background-color: #f2f2f2;

  .Rectangle {
    margin: 12px 3.5px 6px 0;
    padding: 0 7px 3px 7.5px;
    background-color: #ffffff;
    border-radius: 0px 20px 20px 20px;
  }
}
.username {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: right;
  color: #bfbfbf;
}
.text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
}
.avatar {
  padding-left: 20px;
  padding-right: 20px;
  margin: 12px 3.5px 6px 0;
}
</style>
