<template>
  <div class="d-flex flex-column mx-2">
    <app-icon-button
      v-for="item in items"
      :key="item.name"
      :icon="item.icon"
      :active="isActive(item)"
      :active-icon="item.activeIcon"
      icon-size="24"
      class="mb-4"
      @click="onItemClick(item)"
    />
  </div>
</template>
<script>
export default {
  name: "SideBar",
  props: {
    items: { type: Array, default: () => [] }
  },
  data() {
    return {
      activeTab: this.items[0] ? this.items[0].name : ""
    };
  },
  methods: {
    onItemClick(item) {
      this.$emit("item-click", item);
      this.activeTab = item.name;
    },
    isActive(item) {
      return this.activeTab === item.name;
    }
  }
};
</script>
