<template>
  <div v-if="!hidden" class="wrapper d-flex flex-column align-items-start">
    <div
      class="icon-wrapper d-flex align-items-center justify-content-center bg-primary"
    >
      <b-icon-geo-fill variant="light" />
    </div>
    <div class="message-wrapper position-relative text-white w-100 bg-primary">
      <div class="mb-2">
        <slot name="title" />
      </div>
      <slot />
      <app-dropdown
        class="position-absolute pin-menu"
        toggle-class="px-0"
        :items="menuItems"
        flat
        @item-click="onMenuClick"
      >
        <b-icon
          slot="activator"
          variant="white"
          size="20"
          icon="three-dots-vertical"
        ></b-icon>
      </app-dropdown>
    </div>
  </div>
</template>
<script>
export default {
  name: "Pin",
  data() {
    return {
      hidden: false
    };
  },
  computed: {
    isExecutor() {
      return this.$auth.loggedIn &&
        process.env.rootUsers.includes(this.$auth.user._id)
        ? true
        : false;
    },
    menuItems() {
      const menu = [{ text: "پنهان کردن", action: "hide" }];
      if (this.isExecutor) {
        menu.push({ text: "حذف کردن", action: "delete" });
      }
      return menu;
    }
  },

  watch: {
    "$store.state.pinnedMessage"(newVal, oldVal) {
      if (oldVal.id !== newVal.id) {
        this.hidden = false;
      }
    }
  },

  methods: {
    onMenuClick(item) {
      if (item.action === "hide") {
        this.hidden = true;
      }
      if (item.action === "delete") {
        this.$emit("delete-click");
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.wrapper {
  margin: 15px;

  .icon-wrapper {
    border-radius: 50rem;
    margin-right: -12px;
    padding: 4px;

    svg {
      font-size: 14px;
    }
  }

  .message-wrapper {
    margin-top: 6px;
    padding: 10px;
    border-radius: 15px;

    .pin-menu {
      top: 0;
      left: 6px;
    }
  }
}
</style>
