<template>
  <b-container v-if="!nested" :fluid="fluid">
    <b-row
      :no-gutters="noGutters"
      :align-h="justifyContent"
      :align-v="alignItems"
    >
      <slot />
    </b-row>
  </b-container>
  <b-row
    v-else
    :no-gutters="noGutters"
    :align-h="justifyContent"
    :align-v="alignItems"
  >
    <slot />
  </b-row>
</template>
<script>
import { BContainer, BRow } from "bootstrap-vue";
export default {
  name: "Row",
  components: {
    BContainer,
    BRow
  },
  props: {
    nested: {
      type: Boolean,
      default: false
    },
    fluid: {
      type: [Boolean, String],
      default: false
    },
    alignItems: {
      type: String,
      default: "start"
    },
    justifyContent: {
      type: String,
      default: "start"
    },
    noGutters: {
      type: Boolean,
      default: false
    }
  }
};
</script>
