<template>
  <div
    class="wrapper d-flex flex-row align-items-center justify-content-center"
    :class="{ active, first }"
  >
    <!-- <b-icon v-if="active" :icon="icon" variant="primary" /> -->
    <app-text class="mb-0" :class="{ 'pr-2': active }">{{ title }}</app-text>
  </div>
</template>
<script>
// import { BIcon } from "bootstrap-vue";
export default {
  name: "Step",

  components: {
    // BIcon
  },

  props: {
    active: { type: Boolean, default: true },
    title: { type: String, required: true },
    icon: { type: String, default: "exclamation-square-fill" },
    first: { type: Boolean, required: false }
  }
};
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: #f2f2f2;
  border: 1px solid #9b9893;
  padding: 6px 24px 6px 22px;
  border-top-left-radius: 50rem;
  border-bottom-left-radius: 50rem;
  color: #9b9893;
  margin-right: -18px;
  flex: 1;

  &.active {
    background-color: $white;
    padding-right: 32px;
    color: $primary;
  }

  &.first {
    margin-right: 0;
  }
}
</style>
