<template>
  <b-button
    v-bind="$attrs"
    :variant="variant"
    :class="[{ rounded }, 'icon-button']"
    @click="onClick"
  >
    <b-icon
      :icon="active ? activeIcon : icon"
      :style="iconStyle"
      :variant="iconVariant"
    />
  </b-button>
</template>
<script>
export default {
  name: "IconButton",
  
  props: {
    variant: {
      type: String,
      default: "primary"
    },
    icon: {
      type: String,
      required: true
    },
    activeIcon: {
      type: String
    },
    active: {
      type: Boolean,
      default: false
    },
    iconSize: {
      type: String,
      default: "32"
    },
    iconVariant: {
      type: String,
      default: "light"
    },
    rounded: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    iconStyle() {
      return {
        width: `${this.iconSize}px`,
        height: `${this.iconSize}px`
      };
    }
  },
  methods: {
    onClick() {
      this.$emit("click");
    }
  }
};
</script>
<style lang="scss" scoped>
.icon-button {
  &.rounded {
    border-radius: 50rem !important;
  }
  padding: 11px;
}
</style>
