<template>
  <div class="content">
    <app-navbar></app-navbar>

    <div class="container-fluid h-100 mt-5">
      <div class="row h-100">
        <div class="col-2 main-navbar">
          <b-nav vertical class="bg-white pr-0">
            <b-nav-item :to="{ name: 'sessions-create' }" link-classes="text-black">
              تعریف نشست
            </b-nav-item>
            <b-nav-item :to="{ name: 'sessions' }">لیست نشست‌ها</b-nav-item>
            <b-nav-item link-classes="text-black">
              سنجاق به صفحه نمایش
            </b-nav-item>
          </b-nav>
        </div>

        <div class="col-10">
          <Nuxt />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import AppNavbar from '@/components/Navbar';
export default { 
  components: {
    AppNavbar
  }
};
</script>
