<template>
  <div 
    :style="'background-image: url(\'error_bg.svg\')'"
    class="d-flex flex-column align-items-center justify-content-around error-page">
    <div>
      <h1 class="text-primary text-center">خطا</h1>

      <h1 class="text-primary error-code">{{ error.statusCode | fn }}</h1>
    </div>

    <h1>{{ $t("errors.http." + error.statusCode) }}</h1>

    <b-button to="/" variant="primary" pill class="px-5" size="lg">صفحه اصلی</b-button>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object
    }
  }
};
</script>
