<template>
  <div v-if="reseted">
    <video
      id="stream-player"
      ref="video"
      class="video-js w-100 h-100"
      oncontextmenu="return false;"
      @contextmenu="menuHandler"
    >
      <track
        v-for="(crtTrack, index) in trackList"
        :key="index"
        :kind="crtTrack.kind"
        :label="crtTrack.label"
        :src="crtTrack.src"
        :srcLang="crtTrack.srcLang"
        :default="crtTrack.default"
      />
      <p class="vjs-no-js">
        برای مشاهده‌ی این ویدیو JavaScript مرورگر خود را فعال کنید با از آخرین
        نسخه‌ی مرورگر
        <a href="https://www.google.com/chrome/" target="_blank">کروم</a> یا
        <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">
          فایرفاکس
        </a>
        استفاده کنید.
      </p>
    </video>
  </div>
</template>

<script>
import _videojs from "video.js";
const videojs = window.videojs || _videojs;
export default {
  name: "VideoPlayer",

  props: {
    crossOrigin: {
      type: String,
      default: ""
    },
    playsinline: {
      type: Boolean,
      default: true
    },
    customEventName: {
      type: String,
      default: "statechanged"
    },
    options: {
      type: Object,
      required: true
    },
    events: {
      type: Array,
      default: () => []
    },
    globalOptions: {
      type: Object,
      default: () => ({
        autoplay: true,
        controls: true,
        language: "fa",
        inactivityTimeout: 0,
        preload: "auto",
        fluid: false,
        techOrder: ["html5"],
        enableLowInitialPlaylist: true,
        hls: {
          enableLowInitialPlaylist: true
        },
        plugins: {}
      })
    },
    globalEvents: {
      type: Array,
      default: () => []
    },
    trackList: {
      type: Array,
      default: () => []
    }
  },

  data() {
    return {
      player: null,
      reseted: true
    };
  },

  watch: {
    options: {
      deep: true,
      handler(options) {
        this.dispose(() => {
          if (options && options.sources && options.sources.length) {
            this.initialize();
          }
        });
      }
    }
  },

  beforeDestroy() {
    if (this.player) {
      this.dispose();
    }
  },

  mounted() {
    if (!this.player) {
      this.initialize();
    }
  },

  methods: {
    menuHandler(evt) {
      evt.preventDefault();
    },
    initialize() {
      const self = this;
      const videoObj = this.$refs.video;
      // videojs options
      const videoOptions = Object.assign({}, this.globalOptions, this.options);

      videojs.addLanguage("fa", {
        "The media could not be loaded, either because the server or network failed or because the format is not supported.":
          "پخش قابل نمایش نمی‌باشد. ارتباط شما یا ارائه‌دهنده‌ قطع شده است."
      });

      videojs.addLanguage("fa", {
        "No compatible source was found for this media.":
          "محتوای قابل پخشی وجود ندارد."
      });

      // ios fullscreen
      if (this.playsinline) {
        videoObj.setAttribute("playsinline", this.playsinline);
        videoObj.setAttribute("webkit-playsinline", this.playsinline);
        videoObj.setAttribute("x5-playsinline", this.playsinline);
        videoObj.setAttribute("x5-video-player-type", "h5");
        videoObj.setAttribute("x5-video-player-fullscreen", false);
      }
      // cross origin
      if (this.crossOrigin !== "") {
        videoObj.crossOrigin = this.crossOrigin;
        videoObj.setAttribute("crossOrigin", this.crossOrigin);
      }
      // avoid error "VIDEOJS: ERROR: Unable to find plugin: __ob__"
      if (videoOptions.plugins) {
        delete videoOptions.plugins.__ob__;
      }
      // emit event
      const emitPlayerState = (event, value) => {
        if (event) {
          this.$emit(event, this.player);
        }
        if (value) {
          this.$emit(this.customEventName, { [event]: value });
        }
      };
      // player
      this.player = videojs(videoObj, videoOptions, function() {
        // sessions
        const DEFAULT_EVENTS = [
          "loadeddata",
          "loadedmetadata",
          "canplay",
          "canplaythrough",
          "play",
          "pause",
          "waiting",
          "playing",
          "ended",
          "error"
        ];
        const events = DEFAULT_EVENTS.concat(self.events).concat(
          self.globalEvents
        );
        // watch sessions
        const onEdEvents = {};
        for (let i = 0; i < events.length; i++) {
          if (
            typeof events[i] === "string" &&
            onEdEvents[events[i]] === undefined
          ) {
            (event => {
              onEdEvents[event] = null;
              this.on(event, () => {
                emitPlayerState(event, true);
              });
            })(events[i]);
          }
        }
        // player readied
        self.$emit("ready", this);
      });
    },
    dispose(callback) {
      if (this.player && this.player.dispose) {
        if (this.player.techName_ !== "Flash") {
          this.player.pause && this.player.pause();
        }
        this.player.dispose();
        this.player = null;
        this.$nextTick(() => {
          this.reseted = false;
          this.$nextTick(() => {
            this.reseted = true;
            this.$nextTick(() => {
              callback && callback();
            });
          });
        });
      }
    }
  }
};
</script>
