<template>
  <b-col :align-self="alignSelf" :cols="xs" v-bind="$attrs">
    <slot />
  </b-col>
</template>
<script>
import { BCol } from "bootstrap-vue";
export default {
  name: "Column",
  components: {
    BCol
  },
  props: {
    xs: {
      type: [String, Number],
      default: "12"
    },
    alignSelf: {
      type: String,
      default: null
    }
  }
};
</script>
