<template>
  <div :class="['message-box position-relative', 'bg-' + variant]" dir="rtl">
    <div v-if="showEmojiBar" class="emoji-bar-wrapper position-absolute">
      <emoji-bar @emoji-select="onEmojiSelect" />
    </div>
    <div class="d-flex flex-row align-items-end">
      <div class="content-wrapper d-flex flex-column">
        <slot name="reply" />
        <auto-resize-textarea
          ref="autoResizeInput"
          v-model="message"
          class="flex-fill"
          placeholder="اینجا بنویسید..."
          @click.native="showEmojiBar = false"
          @enter-press="onSendClick"
        />
      </div>
      <div class="d-flex flex-row align-items-center">
        <image-button
          v-if="isEmojiVisible"
          :image="showEmojiBar ? 'emoji.png' : 'emoji-disable.png'"
          image-size="30"
          @click="showEmojiBar = !showEmojiBar"
        />
        <image-button image="send.png" @click="onSendClick" />
      </div>
    </div>
    <app-icon-button
      v-if="showScrollBtn"
      icon-variant="white"
      variant="primary"
      icon="chevron-down"
      icon-size="18"
      class="shadow position-absolute scroll-btn"
      @click="$emit('scroll-click')"
    />
  </div>
</template>
<script>
import ImageButton from "@/components/Button/ImageButton";
import AutoResizeTextarea from "@/components/Input/AutoResizeTextArea";
import EmojiBar from "@/components/EmojiBar";

export default {
  name: "MessageBox",

  components: {
    ImageButton,
    AutoResizeTextarea,
    EmojiBar
  },

  props: {
    hasReply: {
      type: Boolean,
      default: false
    },
    reply: {
      type: Object,
      default: () => ({})
    },
    variant: {
      type: String,
      default: "primary-light",
      required: false
    },
    showScrollBtn: {
      type: Boolean,
      default: false
    },
    showEmojiBtn: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      message: "",
      showEmojiBar: false
    };
  },

  computed: {
    isEmojiVisible() {
      return this.showEmojiBtn;
    }
  },

  mounted() {
    this.input = this.$refs.autoResizeInput;
  },

  methods: {
    onEmojiSelect(emoji) {
      this.message = `${this.message}${emoji}`;
    },

    onSendClick() {
      if (!this.message) return;
      const payload = {
        message: this.message,
        userId: this.$auth.user._id
      };

      if (this.hasReply) payload.parentMessageId = this.reply.id;

      this.emitSendEvent();
      this.resetMessageBox();
    },

    emitSendEvent() {
      const sentMessage = {
        content: this.message
      };

      this.$emit("message-send", sentMessage);
    },
    resetMessageBox() {
      this.showEmojiBar = false;
      this.message = "";
    },
    showError(message) {
      this.$bvToast.toast(message, {
        title: "خطا",
        variant: "danger",
        toaster: "b-toaster-bottom-left",
        solid: true,
        autoHideDelay: 3000,
        appendToast: true,
        noCloseButton: true
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.scroll-btn {
  width: 36px;
  height: 36px;
  padding: 6px;
  bottom: 120%;
  right: 0;
}
</style>
