<template>
  <div class="wrapper d-flex" :class="wrapperClass">
    <avatar size="2rem" :text="userName" theme="light" :src="userAvatar" />

    <bubble
      :user="message.user"
      :is-self="isSelf"
      :has-reply="hasReply"
      @reply="$emit('reply-click', message)"
      @pin="$emit('pin-click', message)"
    >
      <bubble v-if="message.parent" :is-self="isSelf" is-reply>
        <app-text tag="small" class="mb-0 text-primary-dark">{{
          message.parent.user.name
        }}</app-text>
        <app-text
          class="mb-0 message-content"
          v-html="parseMessage(message.parent.content)"
        />
      </bubble>
      <app-text
        class="mb-0 message-content"
        v-html="parseMessage(message.content)"
      />
    </bubble>
  </div>
</template>
<script>
import Bubble from "./../Bubble";

export default {
  name: "Message",
  components: {
    Bubble
  },
  props: {
    message: {
      type: Object,
      default: () => ({
        userInfo: {}
      })
    },
    reply: {
      type: Object,
      default: () => ({
        userInfo: {}
      })
    }
  },
  computed: {
    isSelf() {
      return this.message.user?._id === this.$auth.user._id;
    },
    wrapperClass() {
      if (this.isSelf) {
        return "flex-row";
      }
      return "flex-row-reverse";
    },
    userName() {
      return this.message.user?.name;
    },
    userAvatar() {
      return this.message.user?.avatar?.avatar;
    },
    hasReply() {
      return this.message.parent ? true : false;
    }
  },
  methods: {
    parseMessage(message) {
      return this.$options.filters.sanitizedDomified(message);
    }
  }
};
</script>
<style lang="scss" scoped>
.wrapper {
  margin: 15px 0;
}
</style>
